<a href="https://colab.research.google.com/github/Aniketh-GHub/Supervised-Learning-Projects/blob/main/German_XgBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
import warnings
warnings.filterwarnings('ignore')

In [36]:
#load dataset
df = pd.read_csv("/content/Top_12_German_Companies NEW.csv")

In [37]:
df.shape

(384, 11)

In [38]:
df.head()

,Company,Period,Revenue,Net Income,Liabilities,Assets,Equity,ROA (%),ROE (%),Debt to Equity,percentage Debt to Equity
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,BMW AG,12/31/2017,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,BASF SE,12/31/2017,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     384 non-null    object
 1   Period                      384 non-null    object
 2   Revenue                     384 non-null    int64
 3   Net Income                  384 non-null    float64
 4   Liabilities                 384 non-null    int64
 5   Assets                      384 non-null    int64
 6   Equity                      384 non-null    int64
 7   ROA (%)                     384 non-null    object
 8   ROE (%)                     384 non-null    object
 9   Debt to Equity              384 non-null    object
 10  percentage  Debt to Equity  384 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 33.1+ KB

In [40]:
df.describe()

            Revenue    Net Income   Liabilities        Assets        Equity
count  3.840000e+02  3.840000e+02  3.840000e+02  3.840000e+02  3.840000e+02
mean   1.270992e+10  1.249025e+09  3.115579e+10  6.141624e+10  3.026045e+10
std    4.095183e+09  5.445441e+08  1.139538e+10  1.698922e+10  1.172803e+10
min    5.149850e+09  2.980309e+08  1.004637e+10  2.177324e+10  1.001762e+10
25%    9.315161e+09  8.643813e+08  2.085174e+10  5.074013e+10  1.966813e+10
50%    1.266963e+10  1.145476e+09  3.230659e+10  6.020715e+10  2.999063e+10
75%    1.621724e+10  1.560234e+09  4.088942e+10  7.369075e+10  3.984646e+10
max    1.990964e+10  2.884007e+09  4.976940e+10  9.657402e+10  4.991812e+10

In [41]:
X = df.drop(['Company', 'Period'], axis=1)
y = df['Equity']

In [42]:
X.head()

,Revenue,Net Income,Liabilities,Assets,Equity,ROA (%),ROE (%),Debt to Equity,percentage Debt to Equity
0,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [43]:
y.head(20)

0     33507101493
1     30258798286
2     21044732775
3     31945375011
4     39727147101
5     25261653663
6     36674095780
7     32956866713
8     12645076680
9     38568298020
10    45547539617
11    22532589831
12    30008844510
13    38884501637
14    22471671016
15    27222182829
16    14342060597
17    21075029108
18    18956503575
19    45663092533
Name: Equity, dtype: int64

In [44]:
# convert labels into binary values

y[y == 2] = 0

y[y == 1] = 1

In [45]:
# again preview the y label

y.head(20)

0     33507101493
1     30258798286
2     21044732775
3     31945375011
4     39727147101
5     25261653663
6     36674095780
7     32956866713
8     12645076680
9     38568298020
10    45547539617
11    22532589831
12    30008844510
13    38884501637
14    22471671016
15    27222182829
16    14342060597
17    21075029108
18    18956503575
19    45663092533
Name: Equity, dtype: int64

In [46]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (2.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.26.4)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.10/dist-packages (from xgboost) (2.23.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.13.1)

In [47]:
# Check the data types of all columns in X
print(X.dtypes)

Revenue                         int64
Net Income                    float64
Liabilities                     int64
Assets                          int64
Equity                          int64
ROA (%)                        object
ROE (%)                        object
Debt to Equity                 object
percentage  Debt to Equity     object
dtype: object

In [48]:
# Apply one-hot encoding to categorical features in X
X = pd.get_dummies(X, drop_first=True)

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [50]:
from xgboost import XGBRegressor

# declare parameters for regression
params = {
    'objective': 'reg:squarederror',  # for regression
    'max_depth': 4,
    'alpha': 10,
    'learning_rate': 0.1,
    'n_estimators': 100
}

# instantiate the regressor
xgb_reg = XGBRegressor(**params)

# fit the regressor to the training data
xgb_reg.fit(X_train, y_train)

# Make predictions
y_pred = xgb_reg.predict(X_test)

# Check performance using regression metrics (e.g., RMSE)
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f'Root Mean Squared Error (RMSE): {rmse}')

Root Mean Squared Error (RMSE): 236072514.02781898

In [51]:
# alternatively view the parameters of the xgb trained model
print(xgb_clf)

XGBClassifier(alpha=10, base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=1.0, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=4, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, ...)

In [52]:

net_income_column = df['Net Income']
revenue_column = df['Revenue']
liabilities_column = df['Liabilities']

In [53]:
# Convert the target variables to a DataFrame
y_train = pd.DataFrame({
    'Net_Income': net_income_column,
    'Revenue': revenue_column,
    'Liabilities': liabilities_column,

})

In [56]:
# check accuracy score
from sklearn.metrics import accuracy_score

print('XGBoost model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

XGBoost model accuracy score: 0.0000

In [58]:
print(X_train.shape)
print(y_train.shape)

(268, 1409)
(384, 3)

In [69]:
import pandas as pd

X = df.drop(columns=['Net Income', 'Revenue', 'Liabilities', 'Company', 'Period'])

# Check for any non-numeric values in the percentage columns
percentage_columns = ['ROA (%)', 'ROE (%)', 'Debt to Equity', 'percentage  Debt to Equity']

# Print the unique values in each of these columns to check for any unexpected values
for col in percentage_columns:
    print(f"Unique values in {col}: {X[col].unique()}")

# Function to clean percentage columns
def clean_percentage_column(col):
    # Remove '%' symbol and commas, replace any invalid entries with NaN
    col = col.replace('%', '').replace(',', '', regex=True)
    col = pd.to_numeric(col, errors='coerce')  # convert to numeric, invalid entries will become NaN
    return col

# Clean percentage columns and handle missing values
for col in percentage_columns:
    X[col] = clean_percentage_column(X[col])

# Check for NaN values after cleaning
print(f"NaN values in X: {X.isna().sum()}")

# Optionally, handle missing values by filling or dropping them (e.g., filling with mean or median)
X = X.fillna(X.mean())  # Example: filling NaN with column mean

# Now define your target columns (y) and split the data
y = df[['Net Income', 'Revenue', 'Liabilities']]

# Split into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shapes to ensure they match
print(X_train.shape)
print(y_train.shape)

# Train the model
from sklearn.multioutput import MultiOutputRegressor
from xgboost import XGBRegressor

xgb_regressor = XGBRegressor()
model = MultiOutputRegressor(xgb_regressor)

# Train the model on the cleaned data
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Print or evaluate predictions
print(y_pred)

Unique values in ROA (%): ['942.175.618' '1.696.389.282' '2.299.542.624' '142.614.028'
 '2.641.347.127' '2.301.649.081' '309.158.516' '3.085.121.245'
 '915.512.207' '1.928.898.269' '120.971.386' '1.567.359.526'
 '2.464.119.008' '1.301.939.971' '229.287.642' '1.022.303.562'
 '124.252.735' '3.001.727.892' '2.853.763.473' '1.507.795.953'
 '3.850.451.659' '2.301.743.104' '1.443.101.543' '1.635.037.283'
 '1.884.049.257' '2.561.139.322' '3.040.943.514' '1.464.228.377'
 '1.869.663.892' '1.684.978.022' '3.675.109.647' '742.521.158'
 '2.254.532.476' '1.245.005.598' '1.530.893.216' '2.023.619.793'
 '1.086.839.167' '4.847.666.382' '1.492.735.853' '2.328.739.298'
 '1.702.505.982' '1.301.333.221' '55.749.485' '1.566.693.946'
 '1.235.457.365' '2.728.696.708' '4.158.605.723' '1.214.285.573'
 '4.247.245.654' '2.302.994.196' '195.855.493' '1.950.609.154'
 '4.968.541.876' '3.267.252.713' '3.086.583.128' '1.544.303.617'
 '2.932.682.364' '1.396.843.544' '3.500.594.092' '3.970.295.613'
 '870.339.255' '1.127.064.515' '3.271.636.847' '2.383.062.802'
 '567.472.225' '2.906.006.963' '1.288.543.449' '4.844.445.609'
 '4.868.985.975' '110.068.441' '984.726.558' '604.714.405' '1.888.679.725'
 '713.260.572' '2.599.792.523' '764.563.656' '1.289.786.131'
 '1.637.991.669' '1.021.432.476' '1.332.777.331' '1.728.755.433'
 '1.210.562.563' '386.633.345' '3.413.829.051' '6.455.059.247'
 '636.667.678' '1.510.088.046' '1.232.810.982' '2.170.095.385'
 '6.805.417.841' '1.874.201.507' '96.093.011' '754.503.388'
 '2.917.452.342' '2.398.227.615' '3.693.401.855' '2.287.314.883'
 '2.852.685.156' '2.229.642.809' '1.349.787.655' '3.255.827.204'
 '2.148.288.567' '1.403.925.083' '1.093.132.271' '1.324.818.968'
 '3.593.863.632' '572.214.726' '779.853.997' '2.397.557.934'
 '1.729.588.508' '294.190.307' '781.435.931' '3.709.263.346'
 '2.705.680.752' '1.665.885.867' '224.104.912' '1.492.457.884'
 '3.290.550.018' '1.517.262.431' '977.949' '2.644.231.152' '1.920.682.647'
 '2.115.076.103' '1.177.762.059' '1.378.684.939' '1.156.513.016'
 '1.916.465.776' '2.334.306.245' '1.736.107.761' '4.040.128.387'
 '2.937.463.714' '6.055.903.707' '2.912.850.548' '1.541.583.913'
 '1.364.787.416' '1.324.569.559' '138.641.807' '2.031.265.369'
 '2.760.721.427' '548.784.123' '4.910.670.497' '1.064.560.363'
 '189.411.563' '1.241.932.926' '1.765.271.344' '3.554.555.808'
 '952.273.549' '147.628.905' '1.873.642.035' '1.187.084.544'
 '2.901.065.359' '1.363.232.632' '4.588.555.503' '1.674.431.233'
 '1.883.423.791' '2.722.323.518' '5.603.189.041' '806.789.869'
 '7.368.255.218' '2.031.794.272' '802.319.949' '726.221.282'
 '1.166.813.097' '2.849.363.924' '1.179.492.034' '1.703.149.361'
 '2.386.408.712' '646.585.017' '1.562.215.079' '1.543.810.374'
 '3.249.791.809' '3.113.811.618' '890.062.788' '279.619.183'
 '1.197.878.979' '1.860.626.534' '3.085.853.826' '1.222.110.425'
 '997.935.764' '3.455.089.704' '161.058.696' '2.142.439.202'
 '1.157.664.161' '2.439.028.154' '2.377.104.749' '1.277.172.567'
 '4.267.034.357' '809.446.771' '2.413.252.926' '4.197.175.153'
 '1.395.893.708' '3.617.415.823' '1.340.653.949' '770.064.468'
 '5.270.069.233' '860.545.319' '2.394.086.384' '1.190.412.556'
 '1.820.132.363' '317.808.321' '139.484.054' '4.955.368.641'
 '2.083.963.896' '2.066.390.162' '708.320.538' '2.359.990.011'
 '247.424.897' '2.290.068.378' '1.637.312.802' '1.906.697.655'
 '4.273.603.847' '974.523.045' '2.617.086.715' '1.339.636.138'
 '1.537.318.769' '583.432.655' '3.265.310.268' '1.960.264.578'
 '1.920.016.257' '2.077.989.451' '2.834.891.963' '1.967.356.642'
 '779.320.311' '1.480.635.642' '2.349.277.536' '1.082.502.727'
 '8.532.052.149' '4.170.382.124' '836.471.027' '1.792.162.733'
 '2.825.084.858' '7.406.783.982' '1.268.275.622' '2.801.542.223'
 '2.260.562.362' '2.673.046.952' '2.447.298.009' '2.425.002.097'
 '1.268.225.519' '2.562.288.251' '1.705.958.471' '1.525.398.166'
 '5.872.462.313' '4.326.564.081' '2.347.132.848' '696.633.836'
 '1.414.004.428' '779.185.008' '1.538.103.173' '501.102.064'
 '1.182.771.111' '2.723.952.986' '3.356.988.191' '6.802.458.781'
 '521.432.302' '2.626.163.755' '2.679.398.689' '1.701.654.739'
 '1.149.653.638' '3.385.660.542' '889.752.957' '1.794.798.889'
 '1.410.361.172' '2.738.603.611' '2.041.331.291' '3.111.475.732'
 '734.094.932' '2.383.141.754' '2.245.393.499' '820.662.893' '642.169.318'
 '1.238.567.971' '2.500.190.263' '107.264.457' '1.994.279.698'
 '1.538.131.797' '2.240.623.573' '1.944.577.453' '1.513.249.849'
 '3.873.550.543' '1.897.739.653' '3.074.980.245' '161.195.131'
 '914.456.801' '2.480.286.785' '1.505.566.862' '2.057.056.282'
 '4.625.417.238' '8.672.214.379' '1.481.665.411' '966.150.988'
 '213.170.457' '2.374.808.425' '3.595.951.325' '1.127.162.653'
 '3.606.902.655' '2.326.787.657' '3.389.099.666' '1.544.864.164'
 '3.226.156.634' '2.654.708.156' '1.833.375.687' '1.582.694.204'
 '642.916.659' '9.156.051.924' '1.490.876.154' '1.647.943.384'
 '2.418.952.978' '1.130.503.497' '1.216.431.095' '2.251.283.915'
 '1.701.921.302' '3.917.564.711' '2.082.107.947' '174.587.839'
 '2.318.416.317' '1.094.770.928' '1.883.112.746' '2.344.146.622'
 '1.427.418.583' '1.129.265.084' '1.335.233.067' '947.689.048'
 '2.931.147.205' '1.831.446.331' '1.350.018.407' '316.587.107'
 '867.957.555' '2.630.414.207' '239.880.688' '2.862.788.745'
 '4.204.149.643' '2.000.407.238' '1.959.075.139' '1.378.033.257'
 '896.215.697' '2.904.762.713' '4.359.905.925' '1.289.693.495'
 '2.077.943.587' '770.194.428' '178.292.287' '3.449.888.154'
 '2.217.591.773' '818.216.606' '902.988.313' '17.386.781' '2.541.619.392'
 '3.157.864.646' '934.052.274' '3.947.162.597' '418.207.547' '8.183.968'
 '1.960.655.518' '2.331.124.677' '3.613.197.338' '1.526.166.579'
 '1.261.562.223' '2.579.011.647' '131.329.769' '5.027.088.338'
 '1.272.251.772' '6.054.461.257' '3.222.533.152' '1.026.769.117'
 '1.345.858.693' '4.087.514.659' '2.556.034.053' '1.464.434.247'
 '3.369.348.169' '1.345.309.318' '1.693.160.283' '1.371.083.678'
 '1.856.408.241' '177.172.842' '3.803.263.035' '2.938.866.617'
 '1.766.580.521' '4.048.940.347' '114.771.336' '1.749.565.031'
 '3.603.732.773' '1.468.014.459' '2.866.690.036']
Unique values in ROE (%): ['1.542.627.668' '4.219.731.382' '7.603.361.452' '3.005.706.927'
 '4.523.561.449' '5.643.660.732' '4.752.904.659' '6.907.091.429'
 '2.111.917.274' '2.485.223.313' '1.962.984.363' '3.605.184.677'
 '432.013.901' '2.902.287.954' '4.855.203.888' '2.273.453.267'
 '4.942.548.334' '8.060.092.903' '9.107.278.014' '299.146.809'
 '7.642.560.842' '6.847.160.844' '3.222.235.121' '3.441.569.472'
 '3.550.830.008' '5.429.849.634' '4.976.466.345' '3.041.609.365'
 '3.640.462.175' '2.218.781.604' '9.878.142.355' '1.330.905.572'
 '467.824.105' '2.723.034.669' '405.798.401' '5.382.411.109'
 '2.285.943.174' '6.546.439.648' '3.032.372.908' '7.901.740.276'
 '3.089.991.707' '2.513.720.704' '1.039.744.685' '4.147.613.343'
 '2.807.384.243' '4.966.936.173' '8.101.566.983' '4.799.541.343'
 '6.679.450.762' '5.049.488.923' '4.872.164.475' '355.394.994'
 '6.439.124.871' '429.978.286' '6.277.933.363' '3.392.692.186'
 '7.872.745.579' '2.421.859.412' '5.376.818.307' '664.400.246'
 '1.238.972.765' '1.889.195.957' '736.540.937' '1.035.729.888'
 '9.033.914.282' '4.682.664.881' '3.537.845.836' '6.602.513.558'
 '6.649.842.126' '229.299.295' '275.446.935' '1.340.791.676'
 '3.217.391.559' '1.281.224.531' '5.156.941.487' '1.306.616.103'
 '1.962.402.565' '3.466.140.986' '1.473.412.533' '2.399.929.435'
 '9.040.920.106' '2.097.741.665' '8.202.899.676' '1.227.305.965'
 '1.169.939.253' '1.329.471.751' '3.513.627.863' '2.511.939.811'
 '4.258.010.455' '1.214.762.087' '4.732.148.895' '1.970.253.612'
 '1.322.142.252' '5.591.341.126' '519.836.237' '6.989.379.684'
 '3.956.559.082' '4.084.242.325' '3.989.255.027' '2.372.677.959'
 '4.652.078.745' '3.293.379.129' '2.689.774.769' '1.523.091.628'
 '3.052.121.825' '5.264.208.155' '1.472.936.567' '2.099.212.299'
 '1.152.554.935' '45.603.762' '7.135.300.541' '1.603.837.566'
 '872.714.541' '5.375.979.415' '4.398.750.824' '6.659.132.662'
 '6.718.516.763' '1.620.624.209' '3.255.841.341' '3.676.763.352'
 '4.287.788.646' '3.647.844.912' '4.377.335.663' '2.095.415.424'
 '3.138.858.853' '2.285.851.252' '3.077.706.922' '5.431.145.154'
 '2.394.218.258' '5.554.138.164' '5.564.977.554' '9.237.712.947'
 '1.134.192.402' '241.703.425' '1.848.461.778' '2.741.982.831'
 '2.456.557.854' '3.591.674.104' '4.858.168.628' '10.929.103'
 '9.607.657.241' '2.052.456.487' '3.555.558.796' '2.547.088.331'
 '4.010.187.943' '5.223.074.426' '3.318.158.603' '5.314.962.029'
 '314.982.347' '1.752.930.131' '1.438.156.209' '1.733.691.877'
 '933.416.709' '2.176.963.241' '2.754.270.272' '4.814.757.986'
 '1.435.615.681' '1.792.832.278' '1.479.558.505' '4.568.291.423'
 '1.164.364.427' '1.052.068.959' '2.334.564.784' '7.100.255.712'
 '3.275.671.979' '3.647.121.064' '3.831.426.362' '1.467.839.648'
 '3.275.951.543' '4.762.769.081' '1.031.281.228' '1.151.232.256'
 '1.686.694.928' '8.742.689.833' '4.809.208.781' '3.678.270.163'
 '5.254.965.841' '1.793.294.983' '247.926.785' '1.256.610.918'
 '3.091.346.389' '287.959.592' '2.603.686.398' '4.393.440.901'
 '2.899.266.055' '2.826.848.759' '124.523.492' '1.563.790.571'
 '4.158.736.606' '8.550.802.927' '3.693.951.181' '5.793.180.392'
 '2.745.199.612' '1.544.389.137' '1.440.353.472' '1.105.966.423'
 '3.470.408.021' '2.801.230.321' '3.515.094.384' '6.134.241.097'
 '2.448.642.382' '6.578.514.343' '5.403.260.231' '5.182.246.312'
 '1.441.471.709' '5.672.087.683' '4.353.633.376' '342.055.243'
 '2.294.673.732' '2.933.377.572' '6.272.455.125' '2.626.043.609'
 '6.233.235.581' '3.417.899.175' '2.818.167.256' '1.059.498.291'
 '8.867.026.743' '4.190.873.579' '3.601.428.805' '4.317.089.577'
 '4.435.335.874' '4.415.153.442' '1.591.680.705' '2.799.148.399'
 '4.669.055.214' '2.394.614.037' '1.785.460.959' '673.619.102'
 '1.174.647.036' '3.491.021.304' '695.486.349' '125.152.581'
 '2.647.488.561' '5.830.801.675' '4.847.088.752' '6.104.721.296'
 '3.906.293.451' '6.000.348.063' '244.813.252' '4.737.202.528'
 '2.301.374.609' '5.634.655.366' '7.893.783.146' '8.011.078.402'
 '5.115.213.316' '2.127.540.375' '3.047.917.184' '1.519.179.847'
 '3.155.698.855' '980.479.945' '2.620.195.442' '3.785.003.473'
 '7.808.530.977' '1.757.531.297' '1.017.961.668' '455.291.232'
 '6.575.501.522' '5.408.911.286' '1.915.704.136' '1.023.636.862'
 '1.678.395.737' '4.680.475.816' '2.736.986.092' '6.252.567.113'
 '3.918.791.148' '1.539.675.009' '2.626.586.423' '6.973.754.044'
 '2.829.635.264' '1.871.055.599' '1.903.736.072' '697.480.754'
 '1.237.227.923' '2.125.450.338' '6.580.069.753' '6.658.115.576'
 '3.502.651.951' '7.681.881.582' '2.430.021.133' '4.934.160.121'
 '3.756.860.897' '1.107.885.775' '4.178.789.781' '1.995.992.663'
 '47.691.775' '2.964.215.974' '3.970.025.873' '7.335.549.257'
 '1.556.467.607' '3.992.191.823' '1.591.493.194' '4.973.859.919'
 '5.027.156.913' '7.380.761.688' '1.854.702.549' '1.340.939.753'
 '3.686.851.292' '4.852.330.833' '226.901.839' '110.168.192'
 '3.488.151.213' '6.023.911.425' '3.333.229.664' '2.468.686.517'
 '1.408.175.192' '2.049.457.806' '5.237.751.129' '394.654.017'
 '4.568.995.147' '2.662.116.553' '4.657.851.806' '3.366.149.685'
 '1.117.698.882' '3.920.787.444' '2.458.284.833' '6.444.361.101'
 '3.319.170.671' '3.003.520.875' '6.733.096.979' '3.922.248.606'
 '2.238.613.108' '242.339.033' '1.570.469.484' '8.661.137.359'
 '4.049.668.237' '2.514.863.985' '5.420.580.804' '1.731.852.256'
 '5.712.549.489' '9.041.825.831' '1.011.202.747' '8.305.270.255'
 '5.478.340.957' '5.769.681.015' '3.165.063.935' '231.233.995'
 '658.512.162' '8.696.071.832' '4.329.135.364' '4.796.642.602'
 '1.384.304.888' '3.065.215.849' '1.102.431.133' '3.878.039.728'
 '1.653.793.789' '1.785.222.349' '6.540.535.831' '4.430.601.873'
 '5.090.356.727' '1.911.825.448' '6.116.912.125' '1.214.289.959'
 '2.481.879.251' '3.337.957.748' '1.199.413.642' '1.586.396.995'
 '3.690.844.131' '2.890.594.752' '803.543.419' '3.523.522.556'
 '965.607.245' '2.159.321.139' '1.552.190.472' '3.998.220.124'
 '1.982.810.372' '1.951.672.446' '1.142.480.264' '5.089.303.273'
 '3.108.305.926' '6.475.053.201' '2.297.972.203' '6.265.345.152'
 '2.455.055.637' '2.802.991.363' '611.965.731' '7.381.839.743'
 '9.827.624.651' '2.576.249.974' '5.111.033.662' '2.770.147.673'
 '3.928.964.508' '1.522.111.161' '2.562.407.917' '5.908.477.575']
Unique values in Debt to Equity: ['637.303.746' '1.487.478.214' '2.306.466.848' '1.107.581.539'
 '71.259.635' '1.452.007.467' '537.368.182' '123.883.954' '130.681.498'
 '288.415.959' '622.684.857' '130.016.446' '753.218.491' '1.229.202.589'
 '1.117.516.603' '1.223.853.414' '2.977.818.543' '1.685.151.084'
 '2.191.321.951' '98.400.061' '984.847.888' '197.477.196' '1.232.854.047'
 '1.104.887.458' '884.680.029' '1.120.091.472' '636.487.598'
 '1.077.277.979' '947.121.185' '31.680.151' '1.687.849.698' '79.241.434'
 '1.075.038.217' '1.187.166.606' '1.650.729.632' '1.659.793.666'
 '1.103.294.806' '350.431.142' '1.031.419.625' '2.393.140.779'
 '814.966.725' '931.650.298' '865.030.115' '1.647.366.676' '1.272.344.091'
 '820.259.525' '948.145.009' '2.952.563.918' '572.654.682' '1.192.575.618'
 '1.487.632.284' '821.969.272' '295.978.787' '316.023.962' '1.033.942.746'
 '1.196.907.492' '1.684.486.283' '733.808.645' '535.973.085' '673.427.651'
 '423.551.515' '676.209.243' '125.129.185' '3.346.213.148' '591.957.083'
 '611.374.282' '1.745.616.253' '362.903.847' '365.755.038' '1.083.242.871'
 '1.797.192.101' '1.217.231.249' '70.351.358' '796.292.381' '983.597.322'
 '708.969.674' '521.494.547' '1.116.091.951' '442.496.267' '800.697.971'
 '422.972.766' '73.286.514' '1.121.622.406' '259.510.083' '812.437.669'
 '1.088.172.207' '13.267.702' '1.037.570.923' '962.130.552' '784.992.656'
 '1.524.888.001' '105.036.099' '752.334.413' '916.514.983' '1.167.585.069'
 '892.396.213' '729.783.298' '431.718.574' '789.190.183' '75.781.572'
 '428.846.942' '533.024.557' '915.896.227' '393.327.841' '1.303.802.933'
 '464.776.824' '1.574.097.625' '1.691.801.678' '3.807.203.693'
 '163.668.276' '1.425.403.003' '1.052.423.624' '1.352.797.468'
 '986.923.036' '164.048.751' '1.971.435.389' '3.501.645.798'
 '3.925.086.081' '1.145.865.655' '2.759.667.785' '621.563.472'
 '899.243.958' '1.069.587.783' '779.150.048' '127.670.497' '976.502.833'
 '605.928.455' '1.326.663.507' '379.072.378' '374.742.986' '894.483.846'
 '525.406.181' '289.375.419' '567.890.161' '354.395.385' '1.070.093.497'
 '7.718.738' '768.195.411' '759.746.051' '991.512.245' '956.485.829'
 '927.985.071' '877.160.369' '1.050.906.517' '1.271.711.913' '469.402.848'
 '2.484.459.487' '2.600.217.741' '681.123.402' '476.668.312'
 '3.957.338.188' '271.750.571' '1.034.227.784' '300.121.019' '462.374.153'
 '768.620.795' '1.562.140.365' '122.217.996' '100.801.745' '1.248.402.551'
 '451.247.011' '448.689.243' '1.000.804.404' '1.491.873.942'
 '1.777.188.726' '1.141.398.252' '605.519.768' '127.014.176'
 '1.096.991.373' '2.085.073.894' '2.173.376.291' '2.697.180.169'
 '895.029.149' '2.126.641.649' '3.014.770.162' '976.898.693' '702.921.181'
 '467.375.571' '1.484.396.231' '2.636.984.927' '91.939.117' '344.073.576'
 '1.249.086.123' '80.130.799' '219.662.725' '1.213.364.766'
 '1.918.267.855' '931.925.146' '723.290.817' '1.037.275.695'
 '1.646.298.324' '601.469.302' '1.047.657.126' '1.005.532.267'
 '1.733.082.637' '285.192.539' '449.575.105' '1.353.159.252' '931.230.088'
 '930.170.072' '755.499.866' '327.552.967' '1.592.780.154' '1.507.874.073'
 '1.035.055.643' '1.403.437.157' '759.577.726' '493.646.418' '401.487.687'
 '538.459.736' '467.720.301' '1.694.696.263' '138.174.591' '155.136.382'
 '833.170.395' '815.973.588' '1.715.523.492' '1.137.912.211' '875.728.287'
 '1.077.531.999' '564.551.994' '124.420.593' '1.042.396.026' '890.504.538'
 '987.443.008' '121.210.901' '109.265.125' '615.245.514' '404.288.969'
 '947.937.673' '1.461.824.632' '689.702.053' '1.087.470.983'
 '1.081.282.811' '114.419.599' '1.283.806.235' '596.165.827'
 '1.474.368.195' '930.360.557' '848.817.176' '349.021.473' '269.389.153'
 '344.203.287' '851.602.855' '117.934.546' '2.054.029.629' '1.155.521.669'
 '949.703.641' '1.051.682.169' '95.664.719' '1.215.302.198' '389.525.991'
 '1.326.052.561' '158.367.063' '952.241.289' '73.367.419' '1.454.095.969'
 '217.861.853' '666.331.556' '2.023.448.008' '886.361.515' '1.607.799.596'
 '940.627.795' '128.312.235' '919.723.254' '3.948.375.437' '2.577.992.857'
 '1.926.285.871' '260.195.714' '127.993.201' '196.453.913' '4.631.348.222'
 '3.948.535.083' '981.504.776' '2.299.471.864' '3.328.702.904'
 '563.248.728' '2.950.411.731' '605.829.424' '273.808.116' '979.650.312'
 '2.602.903.716' '1.592.379.656' '1.182.708.533' '922.833.088'
 '968.837.153' '929.954.911' '585.921.632' '794.775.289' '1.694.394.966'
 '647.251.013' '1.333.278.255' '1.116.868.401' '1.052.519.909'
 '645.461.322' '2.717.704.304' '584.524.174' '431.746.278' '468.749.449'
 '2.414.843.247' '313.949.032' '2.285.693.962' '1.106.047.811'
 '2.839.823.533' '537.972.047' '374.666.702' '2.178.356.235' '631.507.601'
 '3.041.557.729' '1.188.464.735' '1.068.975.741' '977.852.725'
 '1.853.045.104' '883.085.577' '408.050.439' '1.779.639.296'
 '2.031.840.348' '594.976.658' '1.872.301.978' '174.779.147' '982.362.813'
 '814.956.797' '657.156.942' '1.954.862.637' '1.211.185.864' '862.836.812'
 '712.192.532' '995.319.063' '1.171.730.017' '2.769.301.274'
 '2.532.229.716' '975.493.491' '1.738.612.844' '1.945.104.503'
 '1.296.797.931' '1.580.115.431' '1.267.008.452' '994.554.924'
 '2.356.716.444' '1.308.360.358' '79.734.472' '71.920.833' '2.195.556.158'
 '748.761.776' '102.121.758' '977.016.008' '2.761.786.516' '743.220.046'
 '611.961.657' '1.046.807.765' '549.698.543' '1.903.558.215'
 '2.032.611.138' '70.247.028' '4.145.214.472' '3.390.562.837'
 '1.418.375.676' '1.291.281.952' '2.115.702.948' '1.682.958.009'
 '92.080.819' '69.724.357' '1.563.713.609' '240.707.213' '931.116.099'
 '450.131.768' '1.795.048.726' '991.093.689' '1.122.530.207' '92.175.248'
 '708.136.688' '2.700.385.141' '790.595.043' '509.900.301' '2.454.060.589'
 '940.922.748' '2.344.018.607' '458.325.813' '262.313.896' '1.413.623.271'
 '1.245.680.749' '3.223.707.074' '745.492.288' '1.061.080.026']
Unique values in percentage  Debt to Equity: ['0,00%' '283,68%' '329,65%' '634,80%' '388,68%' '884,48%' '557,55%'
 '1616,08%' '277,29%' '573,56%' '236,11%' '434,46%' '478,30%' '415,61%'
 '304,01%' '776,01%' '346,73%' '311,49%' '401,37%' '484,77%' '781,86%'
 '282,34%' '384,37%' '585,25%' '435,17%' '324,28%' '1868,11%' '294,00%'
 '379,16%' '269,81%' '120,20%' '251,77%' '220,65%' '605,53%' '854,46%'
 '1166,40%' '327,51%' '432,37%' '2175,54%' '1360,59%' '607,18%' '467,37%'
 '330,04%' '1003,19%' '986,59%' '588,62%' '309,52%' '1526,11%' '1819,36%'
 '1818,11%' '457,33%' '524,29%' '299,73%' '213,75%' '731,34%' '472,93%'
 '1440,04%' '442,56%' '1547,48%' '310,33%' '610,07%' '445,22%' '783,21%'
 '542,16%' '946,04%' '313,09%' '1084,79%' '617,87%' '234,09%' '1132,63%'
 '124,08%' '302,73%' '278,64%' '500,58%' '645,12%' '544,72%' '337,78%'
 '412,89%' '284,14%' '689,84%' '405,66%' '409,25%' '268,94%' '245,86%'
 '507,93%' '631,60%' '1482,12%' '622,14%' '1758,20%' '391,94%' '425,62%'
 '256,24%' '318,26%' '467,55%' '639,45%' '1004,47%' '405,35%' '242,37%'
 '315,34%' '1112,71%' '204,40%' '363,42%' '902,53%' '725,36%' '595,68%'
 '626,42%' '919,01%' '1467,79%' '365,93%' '233,27%' '475,93%' '319,53%'
 '298,63%' '228,42%' '474,51%' '426,83%' '411,10%' '159,52%' '747,59%'
 '476,53%' '336,24%' '836,91%' '208,45%' '548,28%' '1319,87%' '232,98%'
 '649,15%' '574,97%' '824,35%' '963,17%' '831,09%' '771,93%' '377,47%'
 '2008,38%' '339,23%' '343,68%' '404,16%' '573,16%' '692,92%' '544,77%'
 '1341,07%' '451,11%' '220,32%' '338,25%' '516,87%' '411,25%' '785,64%'
 '354,86%' '472,84%' '1634,06%' '1094,88%' '368,28%' '475,77%' '1814,59%'
 '243,45%' '539,25%' '423,62%' '406,98%' '558,09%' '659,38%' '2293,35%'
 '940,71%' '433,73%' '263,77%' '300,06%' '971,69%' '588,86%' '1109,78%'
 '620,56%' '452,21%' '248,27%' '287,50%' '505,89%' '291,11%' '290,97%'

In [72]:
# check accuracy score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

# Print the evaluation metrics
print(f'Mean Squared Error: {mse:.4f}')
print(f'R-squared: {r2:.4f}')
print(f'Mean Absolute Error: {mae:.4f}')

Mean Squared Error: 8741708831822111744.0000
R-squared: 0.0433
Mean Absolute Error: 1836444252.3636